<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <img src="../../../assets/undraw_bitcoin_p2p_re_1xqa.svg" width="100%" />
            <h1 class="text-center text-white">Welcome to Online Forex Exchange </h1>
        </div>
    </div>
</div>