<div class="login_page">
    <div class="cantainer">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <h3>Add Rate</h3>
                    <hr />

                    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" [noValidate]="false">

                        <div class="row">
                            <div class="col-6 mt-3">
                                <div class="form-group">
                                    <label>From Currency</label>
                                    <input type="text" class="form-control" ngModel name="fromCurrency" required />
                                </div>
                            </div>
                            <div class="col-6 mt-3">
                                <div class="form-group">
                                    <label>To Currency</label>
                                    <input type="text" class="form-control" ngModel name="toCurrency" required />
                                </div>
                            </div>
                            <div class="col-6 mt-3">
                                <div class="form-group">
                                    <label>Rate</label>
                                    <input type="number" step="0.01" class="form-control" ngModel name="rate"
                                        required />
                                </div>
                            </div>
                            <div class="col-6 mt-3">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="date" step="0.01" class="form-control" ngModel name="date" required />
                                </div>
                            </div>

                        </div>

                        <button type="submit" class="btn btn-outline-primary mt-3">
                            Submit
                        </button>
                        <button type="button" (click)="onCancel()" class="btn btn-outline-secondary mt-3 ms-2">Cancel</button> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>