<<div class="mt-4">
    <div class="cantainer">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <h3>Forgot Password</h3>
                    <hr />

                    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" [noValidate]="false">

                        <div class="row">
                            <div class="col-12 mt-3">
                                <div class="form-group">
                                    <label>Select User Type</label>
                                    <select class="form-control" ngModel name="role" [disabled]="showOTP" required>
                                        <option value="" disabled>SELECT USER</option>
                                        <option value="ADMIN">ADMIN</option>
                                        <option value="CUSTOMER">CUSTOMER</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="form-group">
                                    <label>User Email</label>
                                    <input type="email" class="form-control" ngModel name="email" required
                                        [readonly]="showOTP" />
                                </div>
                            </div>
                            <div class="col-12" *ngIf="!showOTP">
                                <button type="button"
                                    (click)="onSendOtp(loginForm.form.value.email, loginForm.form.value.role)"
                                    class="btn btn-outline-primary mt-3">
                                    Send OTP
                                </button>
                            </div>

                            <div *ngIf="showOTP">
                                <div class="col-12 mt-3">
                                    <div class="form-group">
                                        <label>OTP</label>
                                        <input type="password" class="form-control" ngModel name="otp" required />
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" ngModel name="password" required />
                                    </div>
                                </div>

                            </div>

                        </div>

                        <button *ngIf="showOTP" type="submit" class="btn btn-outline-primary mt-3">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

